<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
    <title th:text="${title}">Tp04_RodriguezAlan</title>
</head>
<body>
<header data-th-replace="~{fragments/header :: header}"></header>
<div class="container">
    <h1>Formulario Modificación Carrera</h1>
    <form data-th-object="${carrera}" data-th-action="@{/guardarModificacionCarrera}" method="post">
        <div class="col-md-4">
            <label for="codigo" class="form-label">Código</label>
            <input type="text" class="form-control" id="codigo" data-th-field="*{codigo}" readonly>
        </div>
        <div class="col-md-4">
            <label for="nombre" class="form-label">Nombre de la carrera</label>
            <input type="text" class="form-control" id="nombre" data-th-field="*{nombre}">
        </div>
        <div class="col-md-4">
            <label for="cantidad" class="form-label">Cantidad de años</label>
            <input type="number" class="form-control" id="cantidad" data-th-field="*{cantidadAnios}">
        </div>
        <div class="col-md-4">
            <label for="estado" class="form-label">Estado</label>
            <input type="text" class="form-control" id="estado" data-th-field="*{estado}" readonly>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    </form>
</div>
<footer data-th-replace="~{fragments/footer :: footer}"></footer>
<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>