<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
    <title th:text="${title}">Tp04_RodriguezAlan</title>
</head>
<body>
<header data-th-replace="~{fragments/header :: header}"></header>
<div class="container">
	<h1>Formulario Docente</h1>
	<form data-th-object="${nuevoDocente}" data-th-action="@{/guardarDocente}" method="post">
	  <div class="col-md-4">
	    <label for="legajo" class="form-label">Legajo</label>
	    <input type="text" class="form-control" id="legajo" data-th-field="*{legajo}">
	  </div>
	  <div class="col-md-4">
	    <label for="nombre" class="form-label">Nombre</label>
	    <input type="text" class="form-control" id="nombre" data-th-field="*{nombre}">
	  </div>
	  <div class="col-md-4">
	    <label for="apellido" class="form-label">Apellido</label>
	    <input type="text" class="form-control" id="apellido" data-th-field="*{apellido}">
	  </div>
	  <div class="col-md-4">
	    <label for="email" class="form-label">Email</label>
	    <input type="email" class="form-control" id="email" data-th-field="*{email}">
	  </div>
	  <div class="col-md-4">
	    <label for="telefono" class="form-label">Telefono</label>
	    <input type="number" class="form-control" id="telefono" data-th-field="*{telefono}">
	  </div>
	  <br>
	  <button type="submit" class="btn btn-primary">Agregar Docente</button>
	</form>
</div>
<footer data-th-replace="~{fragments/footer :: footer}"></footer>
<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>