<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
    <title th:text="${title}">Tp04_RodriguezAlan</title>
</head>
<body>
<header data-th-replace="~{fragments/header :: header}"></header>
<div class="container">
  <h1>Listado de las Materias</h1>
  <br>
  <a data-th-href="@{/formularioMateria}" class="btn btn-primary">Agregar Materia</a>
  <br>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Código</th>
          <th>Curso</th>
          <th>Cantidad de horas</th>
          <th>Modalidad</th>
          <th>Legajo del docente</th>
          <th>Codigo de la carrera</th>
          <th>Edicion</th>
        </tr>
      </thead>
      <tbody data-th-each="materia : ${listadoMaterias}">
        <tr>
          <td data-th-text="${materia.nombre}"></td>
          <td data-th-text="${materia.codigo}"></td>
          <td data-th-text="${materia.curso}"></td>
          <td data-th-text="${materia.cantidadHoras}"></td>
          <td data-th-text="${materia.modalidad}"></td>
          <td data-th-text="${materia.docenteLegajo}"></td>
          <td data-th-text="${materia.carreraCodigo}"></td>
          <td>
          	<a data-th-href="@{'/borrarMateria/'+${materia.codigo}}" class="btn btn-danger">Borrar</a>
          	<a data-th-href="@{'/modificarMateria/'+${materia.codigo}}" class="btn btn-warning">Edicion</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<footer data-th-replace="~{fragments/footer :: footer}"></footer>
<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>