<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
    <title th:text="${title}">Tp04_RodriguezAlan</title>
</head>
<body>
<header data-th-replace="~{fragments/header :: header}"></header>
<div class="container">
	<h1>Formulario Materia</h1>
	<form data-th-object="${Materia}" data-th-action="@{/guardarModificacionMateria}" method="post">
	  <div class="col-md-4">
	    <label for="codigo" class="form-label">Codigo</label>
	    <input type="text" class="form-control" id="codigo" data-th-field="*{codigo}" readonly>
	  </div>
	  <div class="col-md-4">
	    <label for="nombre" class="form-label">Nombre de la materia</label>
	    <input type="text" class="form-control" id="nombre" data-th-field="*{nombre}">
	  </div>
	  <div class="col-md-4">
	    <label for="curso" class="form-label">Curso</label>
	    <input type="text" class="form-control" id="curso" data-th-field="*{curso}">
	  </div>
	  <div class="col-md-4">
	    <label for="cantidad" class="form-label">Cantidad de horas</label>
	    <input type="number" class="form-control" id="cantidad" data-th-field="*{cantidadHoras}">
	  </div>
	  <div class="col-md-4">
	    <label for="modalidad" class="form-label">modalidad</label>
	    <input type="text" class="form-control" id="modalidad" data-th-field="*{modalidad}">
	  </div>
	  <div class="col-md-4">
	    <label for="legajo" class="form-label">Legajo del docente</label>
	    <input type="text" class="form-control" id="legajo" data-th-field="*{docenteLegajo}">
	  </div>
	  <div class="col-md-4">
	    <label for="codigoCarrera" class="form-label">Codigo de la carrera</label>
	    <input type="text" class="form-control" id="codigoCarrera" data-th-field="*{carreraCodigo}">
	  </div>
	  <br>
	  <button type="submit" class="btn btn-primary">Guardar Materia</button>
	</form>
</div>
<footer data-th-replace="~{fragments/footer :: footer}"></footer>
<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>